<a href="https://colab.research.google.com/github/xanasa14/Finances/blob/main/StocksPrediciton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Mount Google Drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd
import plotly.express as px
from copy import copy
from scipy import stats
import matplotlib.pyplot as plt
import numpy as np
import plotly.figure_factory as ff
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from tensorflow import keras

In [4]:
# Read stock prices data
stock_price_df = pd.read_csv('/content/drive/MyDrive/MLFinancial/Part 3. AI and ML in Finance/stock.csv')
stock_price_df

            Date        AAPL          BA  ...         TSLA         GOOG        sp500
0     2012-01-12   60.198570   75.510002  ...    28.250000   313.644379  1295.500000
1     2012-01-13   59.972858   74.599998  ...    22.790001   311.328064  1289.089966
2     2012-01-17   60.671429   75.239998  ...    26.600000   313.116364  1293.670044
3     2012-01-18   61.301430   75.059998  ...    26.809999   315.273285  1308.040039
4     2012-01-19   61.107143   75.559998  ...    26.760000   318.590851  1314.500000
...          ...         ...         ...  ...          ...          ...          ...
2154  2020-08-05  440.250000  174.279999  ...  1485.020020  1473.609985  3327.770020
2155  2020-08-06  455.609985  172.199997  ...  1489.579956  1500.099976  3349.159912
2156  2020-08-07  444.450012  170.020004  ...  1452.709961  1494.489990  3351.280029
2157  2020-08-10  450.910004  179.410004  ...  1418.569946  1496.099976  3360.469971
2158  2020-08-11  437.500000  180.130005  ...  1374.390015  1480.319946  3333.689941

[2159 rows x 10 columns]

In [5]:
# Read the stocks volume data
# Read the stocks volume data
stock_vol_df = pd.read_csv("/content/drive/MyDrive/MLFinancial/Part 3. AI and ML in Finance/stock_volume.csv")
stock_vol_df

            Date      AAPL        BA  ...     TSLA      GOOG       sp500
0     2012-01-12  53146800   3934500  ...   729300   3764400  4019890000
1     2012-01-13  56505400   4641100  ...  5500400   4631800  3692370000
2     2012-01-17  60724300   3700100  ...  4651600   3832800  4010490000
3     2012-01-18  69197800   4189500  ...  1260200   5544000  4096160000
4     2012-01-19  65434600   5397300  ...  1246300  12657800  4465890000
...          ...       ...       ...  ...      ...       ...         ...
2154  2020-08-05  30498000  46551000  ...  4978000   1979500  4732220000
2155  2020-08-06  50607200  32921600  ...  5992300   1995400  4267490000
2156  2020-08-07  49453300  19301600  ...  8883500   1576600  4104860000
2157  2020-08-10  53100900  35857700  ...  7522300   1289300  4318570000
2158  2020-08-11  46871100  60966900  ...  8356000   1452000  5087650000

[2159 rows x 10 columns]